footer
{
    background: #CCCCCC;
    border-top: 1px #999999 solid;
    margin-top: 10px;
    height: 78px;
    width: 100%;
    clear: both;
    padding: 20px;
}
.fondoacceso
 {
      background: url(../imagenes/fondo-acceso.png);
      width: 390px;
      height: 300px;
      padding: 30px;
 }
.formulariogiro
{
    float: left;
    width: 31%;
    margin: 1%;
    text-align: left;
}
